{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "prettier", "@typescript-eslint", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "globals": {
    "__DEV__": "readonly",
    "Atomics": "readonly",
    "JSX": "readonly",
    "NodeJS": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "format": ["PascalCase"],
        "selector": ["interface", "typeLike"]
      }
    ],
    "curly": ["error", "multi"],
    "import/extensions": [0], // lots of false positives and tipescript manages properly
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "**/*.test.tsx", "config/test/test-utils.tsx"],
        "optionalDependencies": false,
        "peerDependencies": false,
        "bundledDependencies": false,
        "packageDir": "./"
      }
    ], // allow imports absolute path
    "import/no-unresolved": [0], // lots of false positives and tipescript manages properly
    "import/order": [
      "error",
      {
        "pathGroups": [{ "pattern": "src/**", "group": "internal" }],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["react", "src/**"],
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "no-nested-ternary": "off",
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],

    "no-shadow": "off", // bug with typescript
    "@typescript-eslint/no-shadow": "error", // bug with typescript
    "no-unused-vars": "off", // @typescript-eslint has it
    "no-void": ["error", { "allowAsStatement": true }],
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx"]
      }
    ], // use react components only in tsx files, no jsx or ts
    "react/jsx-props-no-spreading": [0], // typescript checks values
    "react/prop-types": "off", // Since we do not use prop-types
    "react/require-default-props": "off", // Since we do not use prop-types
    "react/style-prop-object": [0] // inconsistent with some libraries in RN
  },
  "overrides": [
    {
      "files": ["__tests__/**"],
      "plugins": ["jest"],
      "rules": {
        // you should turn the original rule off *only* for test files
        "@typescript-eslint/unbound-method": "off"
        // "jest/unbound-method": "error"
      }
    }
  ]
}
